html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
    color: #333333;
}


.topo {
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    padding: 20px 0px 10px 0px;
}

.menu {
    height: auto;
    float: right;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
    float: left;
    margin-left: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.conteudo-pagina {
    width: 100%;
    height: auto;
    /* text-align: center; */
    margin-bottom: 100px;
}

.titulo-pagina {
    padding: 70px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: #495057;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.titulo-pagina2 {
    padding: 70px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: #495057;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.informacao-pagina {
    /* text-align: center; */
    margin-top: 30px;
}

.informacao-pagina p{
    color: #333;
}

.rodape {
    width: 100%;
    /* position: absolute; */
    bottom: 0px;
}

.form-signin {
    width: 100%;
    max-width: 40%;
    padding: 15px;
    margin: auto;
}

.p-4 {
    padding: 1.5rem!important;
}

.flex-column {
    flex-direction: column!important;
}

.position-static {
    position: static!important;
}

.d-flex {
    display: flex!important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  a:link {
      text-decoration: none;
  }

  .dropdown-menu {
    position:unset;
  }

  h4 {
      text-align: left;
  }

  #area_adm {
      float: right;
  }